body {
   /* Kommentarfunktion */
   max-width: 1280px;
   margin: auto; /*Zentrieren des gesamten Body */
   font-family: Arial;
}

header {
   text-align: center;
}

header p {
   font-size: 0.8em; /* em macht Schrift relative Größe zu dem wie es standardmäßig wäre */
   font-weight: bold;
   text-align: right;
   padding-right: 1em; /*Einrücken */
   margin-top: -2em; /*Text in Bild hoch setzen */
}

.white,
.white a:link,
.white a:visited {
   color: white;
}