body {
   /* Kommentarfunktion */
   max-width: 1280px;
   margin: auto; /*Zentrieren des gesamten Body */
   font-family: Arial;
}

header {
   text-align: center;
}

header p {
   font-size: 0.8em; /* em macht Schrift relative Größe zu dem wie es standardmäßig wäre */
   font-weight: bold;
   text-align: right;
   padding-right: 1em; /*Einrücken */
   margin-top: -2em; /*Text in Bild hoch setzen */
}

a:link,
a:visited {
   color: black;
}

.white,
.white a:link,
.white a:visited {
   color: white;
}

header nav img {
   border-radius: 50%;
}

header nav adress {
   font-size: 0.9em;
   font-style: italic;
}

main p {
   text-align: justify;
}

main figure {
   margin-left: 0;
   width: 100%;
}

main figure img {
   width: 100%;
   border: 1px solid black;
}

/* # wählt eine id aus */
#map {
width: 100%;
height: 360px;
border: 1px solid grey;
}